@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Hide horizontal scrollbar but keep scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@font-face {
  font-family: 'Ledger';
  src:url('/fonts/Ledger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* ensures smooth loading */
}

body {
  background: rgba(0, 128, 128, 0.141) ;
  
  color: var(--foreground);
  font-family: var(--font-ledger), serif;
}
@keyframes medical-float {
  0%, 100% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-15px) scale(1.2);
    opacity: 1;
  }
}

.animate-medical {
  animation-name: medical-float;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.font-body {
  font-family: var(--font-kumbh), sans-serif;
}

.font-heading {
  font-family: var(--font-kumbh), sans-serif;
}
/* Make toast appear perfectly in the middle */
.custom-toast {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
}
/* In globals.css */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #e5e7eb; /* Tailwind gray-200 */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #008080; /* Teal color */
  border-radius: 10px;
  border: 2px solid #e5e7eb; /* adds a border around thumb */
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #008080 #e6e6e6d6;
}
